@page
@model HotelBookingClient.Pages.SpecialRequests.CreateModel
@{
    ViewData["Title"] = "Create Special Request";
}

<style>
    body {
        padding-bottom: 80px;
    }
</style>

<h2>Create Special Request</h2>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Guest Name</label>
        <input asp-for="SRequest.GuestName" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Contact Number</label>
        <input asp-for="SRequest.GuestTel" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Request Detail</label>
        <input asp-for="SRequest.RequestText" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Date</label>
        <input asp-for="SRequest.RequestedDate" type="date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Save</button>
    <a asp-page="/SpecialRequests/Index" class="btn btn-secondary mt-2">Cancel</a>
</form>
